<section id="whoami" class="w-full my-4 max-w-5xl mx-auto md:h-section" >
    <div class="flex items-center">
        <div class="flex-shrink text-5xl font-bold">About Me</div>
        <div class="flex-grow h-1 bg-cadmium-green ml-4 mr-4"></div>
        <div><br><br><br></div>
    </div>

    <div class="md:text-2xl mb-4">
        Hello World! My name is Hector and I enjoy programming, building things, and learning new concepts. My interest for software engineering started back in
        2018 when I wrote my first hello world in program. While trivial, it sparked an interest in the endless possibilites that creating software could lead to.
        <br><br>
        Here are a few skills and technologies that i'm familiar with: 
        <br>

        <ol class="list-disc grid grid-cols-3 list-inside">
            <li>C/C++</li>
            <li>Tensorflow</li>
            <li>Bitbake</li>
            <li>Python</li>
            <li>OpenCV</li>
            <li>Linux</li>
            <li>Shell</li>
            <li>Docker</li>
        </ol>
    </div>
    
</section>